div#pollsCreate_container {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 320px;
	height: 100vh;
	background-color: #f9f9f9;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

div#pollsCreate_titleBox {
	width: 320px;
	height: auto;
	padding: 20px;
}

div#pollsCreate_titleBox h2 {
	color: #292482;
}

div.pollsCreate_inputBox {
	width: 320px;
	padding: 20px;
	j: center;
}

div.pollsCreate_inputBox label span {
	padding-left: 15px;
	font-weight: 500;
	font-size: 14px;
	color: #7e7bb4;
}

div.pollsCreate_inputBox input {
	margin-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 1px;
	border-radius: 50px;
	border-color: #d4d3e6;
	width: 250px;
	height: 30px;
	box-shadow: none;
}

div.pollsCreate_inputBox input:focus {
	border-width: 1px;
	border-radius: 50px;
	border-color: #7e7bb4;
	outline: none;
	box-shadow: none;
}
